Flask==1.1.2
Flask-Cors==3.0.10
Werkzeug==1.0.1
Jinja2==2.11.3
itsdangerous==1.1.0

requests==2.31.0
urllib3==1.26.18
python-dateutil==2.8.2
pandas==1.5.0
requests-toolbelt==1.0.0

gql[requests]==3.5.0
pytest==7.4.4
pytest-benchmark==4.0.0
